* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
html, body{
    display: grid;
    height: 100%;
    place-items: center;
}
.wrapper{
    max-width: 390px;
    background: rgb(171, 207, 171);
    padding: 30px;   
    box-shadow: 0px 15px 20px rgb(0,0,0,0.1);
    border-radius: 5px;
       
}
.wrapper .text-title {
    display: flex;
    width: 200%;
}
.wrapper .text-title .login {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.wrapper .sub-container {
    width: 100%;
}