* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
html, body{
    display: grid;
    height: 100%;
    place-items: center;
}
.wrapper{
    background: rgb(249, 251, 249);
    padding: 35px;   
    box-shadow: 0px 15px 20px rgb(0,0,0,0.1);
    border-radius: 15px;
    background: linear-gradient(#e66465, #9198e5);
       
}
.wrapper .text-title {
    display: flex;
    width: 200%;
}
.wrapper .text-title .login {
    width: 50%;
    font-size: 37px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
.wrapper .sub-container {
    width: 100%;
}
.sub-container .field{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    padding: 10px;
}




